<article
  class="info-container"
  [ngStyle]="{ flexDirection: imageRatio === 'vertical' ? 'row' : 'column' }"
>
  <div
    *ngIf="response && !error"
    [ngClass]="
      imageRatio === 'vertical'
        ? 'info-image-vertical'
        : 'info-image-horizontal'
    "
  >
    <img
      [src]="response.image.src.original"
      width="300"
      [ngStyle]="{ visibility: isLoading ? 'hidden' : '' }"
      (load)="loaded('success')"
      (error)="loaded('error')"
    />
  </div>
  <div
    *ngIf="response && !error"
    [ngClass]="
      imageRatio === 'vertical'
        ? 'info-content-vertical'
        : 'info-content-horizontal'
    "
  >
    <header>
      <h1>{{ response.name.common }}</h1>
      <h3>{{ nativeName }}</h3>
    </header>

    <article class="country-stats">
      <ul>
        <li>
          <i class="fa fa-language"></i>
          <!-- <span *ngForIn="response.languages">
            {{ response.languages.spa }}
          </span> -->
        </li>
      </ul>
    </article>

    <article class="country-flag">
      <!-- <img [src]="response.flags.svg" alt="response.flags.alt" />
      <div>{{ response.flags.alt }}</div> -->
    </article>

    <footer></footer>
  </div>

  <h1 *ngIf="error">Error</h1>
</article>
