.info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  color: var(--text-main);
  transition: color 0.3s;

  div.info-image-vertical {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  div.info-content-vertical {
    border-radius: 20px;
    margin: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 30px;
    background-color: var(--background-main);
    transition: all 0.3s;
    backdrop-filter: blur(5px);
    z-index: 10;
    width: 70%;

    article {
      &.country-flag {
        flex-direction: column;
      }
    }
  }

  div.info-image-horizontal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  div.info-content-horizontal {
    margin: 10px;
    border-radius: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 10;
    padding: 30px;
    background-color: var(--background-main);
    transition: all 0.3s;
    height: 70%;
    backdrop-filter: blur(5px);
  }

  .info-content-vertical,
  .info-content-horizontal {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: "header header" "stats flag" "footer footer";
    gap: 10px;

    header {
      grid-area: header;
      h1 {
        margin: 0;
        font-size: 3em;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: var(--text-main);
          margin-left: 20px;
          height: 2px;
          border-radius: 500px;
          width: 40%;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.3s;
        }
      }

      h3 {
        opacity: 0.7;
        margin: 0;
      }
    }

    article {
      border-radius: 20px;
      &.country-stats {
        // background-color: blue;
      }
      &.country-flag {
        overflow: hidden;

        position: relative;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
        }

        div {
          padding: 30px;
          width: calc(100% - 60px);
          height: calc(100% - 60px);
          background: linear-gradient(to top, black, transparent);
          color: white;
          font-size: 0.9em;
          text-align: right;
          display: flex;
          align-items: flex-end;
          // background-color: red;
          z-index: 100;
        }
      }
    }

    footer {
      grid-area: footer;
      background-color: yellow;
      border-radius: 20px;
    }
  }
}
